/* styles.css */

#userProfile {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    font-size: 16px;
    margin: 10px 0;
}

button {
    margin: 10px 5px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#editProfileForm {
    margin-top: 20px;
}

#editProfileForm label {
    display: block;
    margin-top: 10px;
}

#editProfileForm input,
#editProfileForm select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Hacer que las imágenes sean responsivas */
img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Estilo general para inputs y selects */
input[type=text], input[type=email], input[type=tel], input[type=url], textarea, select {
    width: 100%; /* Los inputs ocuparán todo el ancho disponible */
    padding: 10px; /* Espaciado interno */
    margin-top: 5px; /* Espaciado superior */
}

/* Botón responsive */
button {
    width: 100%; /* Botón ocupa todo el ancho disponible */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Menos padding en pantallas pequeñas */
    }
}