<a class="navbar-brand" href="#">COLABPRO</a>
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="#">Proyectos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Crear un nuevo proyecto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Miembros del equipo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Calendario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
    </li>
</ul>