@import url('variables.css');

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: var(--color-primary-dark);
}

h1 {
    color: var(--color-grey-light-1);
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}