@keyframes growProgressBar {
    0%, 33% {
        --pgPercentage: 0;
    }
    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"][type="bar"] {
    --size: 20rem;
    --fg: var(--color-primary);
    --bg: var(--color-grey-light-1);
    --secondary: var(--color-grey-light-1);
    --pgPercentage: var(--value);
    --bar: linear-gradient(to right, var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    background: var(--bar);
    border: 1px solid var(--color-grey-dark-1);
    border-radius: 5px;
    width: var(--size);
    height: 1rem;
}

.progress-container__text::after {
    color: var(--color-grey-dark-3);
    font-size: 1.2rem;
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    display: flex;
    justify-content: flex-end;
}