body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}
h1 {
    color: #15076d;
}
    
    table {
        border: 1px solid #ccc;
    }
    th, td {
        padding: 10px;
        text-align: left;

}

.container {
    min-width: 60rem;
    max-width: 80vw;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3500f3;
    border-radius: 4px;
}

table {
    width: 100%;
    height: 400px;
}

th, td {
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.status {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.ongoing {
    background-color: #ff9800; /* Naranja */
}

.completed {
    background-color: #4caf50; /* Verde */
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background-color: #eb4008;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3b4b3b;
}
.back-button {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #004179; /* Color gris */
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.back-button:hover {
    background-color: #696a6b; /* Color gris más oscuro al pasar el mouse */
}
footer {
    text-align: center;
}
.btn {
    background-color: #007BFF; /* Color azul */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Espacio entre el botón y el título */
    float: left; /* Alinear a la izquierda */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

#continueButton:hover {
    background-color: #00b321; /* Color más oscuro al pasar el ratón */
}


/* Hacer que las imágenes sean responsivas */
img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Estilo general para inputs y selects */
input[type=text], input[type=email], input[type=tel], input[type=url], textarea, select {
    width: 100%; /* Los inputs ocuparán todo el ancho disponible */
    padding: 10px; /* Espaciado interno */
    margin-top: 5px; /* Espaciado superior */
}

/* Botón responsive */
button {
    width: 100%; /* Botón ocupa todo el ancho disponible */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Menos padding en pantallas pequeñas */
    }
}